# Build artifacts
src/app/**/*.js
src/app/**/*.map
system-config.js
system-config.js.map

typings
node_modules
jspm_packages
bower_components


# OS files
.DS_Store
Thumbs.db

# IDE-specific config files
.idea/