
<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu page-sidebar-menu-closed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

  <!-- TEMP MENU -->
  <li class="nav-item start ">
    <a href="javascript:;" class="nav-link nav-toggle">
      <i class="icon-home"></i>
      <span class="title">Dashboard</span>
      <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item start">
        <a routerLink="/dashboard" class="nav-link">
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link">
          <span class="title">Contact</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/crisis" class="nav-link">
          <span class="title">Crisis</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/heroes" class="nav-link">
          <span class="title">Heroes</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/demo-form" class="nav-link">
          <span class="title">Demo form</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/dynamic-form" class="nav-link">
          <span class="title">Dynamic form</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin" class="nav-link">
          <span class="title">Admin</span>
        </a>
      </li>
    </ul>
  </li>
  <!-- /TEMP MENU -->

  <!-- USERS MENU -->
  <li class="nav-item" routerLinkActive="active">
    <a routerLink="/users" class="nav-link nav-toggle">
      <i class="icon-users"></i>
      <span class="title">Users</span>
      <span routerLinkActive="selected" routerLink="/users"></span>
      <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item start">
        <a routerLink="/users" class="nav-link">
          <i class="icon-users"></i>
          <span class="title">Manage users</span>
        </a>
      </li>
      <li>
        <a routerLink="/users/add" class="nav-link">
          <i class="icon-plus"></i>
          <span class="title">Create user</span>
        </a>
      </li>
    </ul>
  </li>
  <!-- /USERS MENU -->

  <li class="nav-item">
    <a href="javascript:;" class="nav-link nav-toggle">
      <i class="icon-diamond"></i>
      <span class="title">UI Features</span>
      <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item">
        <a href="ui_colors.html" class="nav-link ">
          <span class="title">Color Library</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
          <span class="title">Page Progress Bar</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item">
            <a href="ui_page_progress_style_1.html" class="nav-link "> Flash </a>
          </li>
          <li class="nav-item">
            <a href="ui_page_progress_style_2.html" class="nav-link "> Big Counter </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="javascript:;" class="nav-link nav-toggle">
      <i class="icon-feed"></i>
      <span class="title">Sidebar Layouts</span>
      <span class="arrow open"></span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item">
        <a href="layout_sidebar_menu_accordion.html" class="nav-link ">
          <span class="title">Sidebar Accordion Menu</span>
        </a>
      </li>
      <li class="nav-item active open">
        <a href="layout_sidebar_closed.html" class="nav-link ">
          <span class="title">Closed Sidebar Layout</span>
          <span class="selected"></span>
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="javascript:;" class="nav-link nav-toggle">
      <i class="icon-folder"></i>
      <span class="title">Multi Level Menu</span>
      <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-settings"></i> Item 1
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item">
            <a href="?p=dashboard-2" target="_blank" class="nav-link">
              <i class="icon-user"></i> Arrow Toggle
              <span class="arrow nav-toggle"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="icon-power"></i> Sample Link 1</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="icon-paper-plane"></i> Sample Link 1</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="icon-star"></i> Sample Link 1</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="icon-camera"></i> Sample Link 1</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="icon-link"></i> Sample Link 2</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="icon-pointer"></i> Sample Link 3</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="?p=dashboard-2" target="_blank" class="nav-link">
          <i class="icon-globe"></i> Arrow Toggle
          <span class="arrow nav-toggle"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="icon-tag"></i> Sample Link 1</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="icon-pencil"></i> Sample Link 1</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="icon-graph"></i> Sample Link 1</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="icon-bar-chart"></i> Item 3 </a>
      </li>
    </ul>
  </li>
</ul>
