

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.label }}</th>
      <th *ngIf="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let line of data">

      <td *ngFor="let column of columns">

        <span *ngIf="column.template">
          {{ (column.template)(line) }}
        </span>
        <span *ngIf="! column.template">
          {{ line[column.id] }}
        </span>
      </td>

      <td *ngIf="actions">

        <a *ngFor="let action of actions" (click)="(action.action)(line)" class="btn btn-sm red">
          {{ action.label }}
        </a>

      </td>


    </tr>


  </tbody>

</table>